<a href="https://colab.research.google.com/github/tanishakapoor11/RaspberryPi--Lab/blob/main/RPi_Exp3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List Operations

In [2]:
# 1 Write a python program to interchange first and last elements in a list.
def swap(numList):
  n = len(numList)
  temp = numList[0]
  numList[0] = numList[n-1]
  numList[n-1] = temp
  return numList

list1 = [1, 2, 4, 3, 9, 0]  
print(list1)
print("After swapping: ", swap(list1))

[1, 2, 4, 3, 9, 0]
After swapping:  [0, 2, 4, 3, 9, 1]

In [3]:
# 2 Write a Python program to find the second smallest number in a list.

def secondSmallest(numList):
  n= len(numList)
  numList.sort()
  print("Second smallest element is ", numList[1])

list1 = [9, 8, 5, 1, 10, 22, 2, 58]
print(list1)
secondSmallest(list1)

[9, 8, 5, 1, 10, 22, 2, 58]
Second smallest element is  2

In [4]:
# 3 Write the Python Program to merge two lists and sort it.

list1 = []
list2 = []
num1 = int(input("Enter the number of elements for the first list: "))
for i in range(1, num1+1):
  a = int(input("Enter the elements: "))
  list1.append(a)
num2 = int(input("Enter the number of elements for the second list: "))
for i in range(1, num2+1):
  b = int(input("Enter the elements: "))
  list2.append(b)

list3 = list1+list2
list3.sort()
print(list3)

Enter the number of elements for the first list: 4
Enter the elements: 9
Enter the elements: 4
Enter the elements: 10
Enter the elements: 5
Enter the number of elements for the second list: 5
Enter the elements: 0
Enter the elements: 7
Enter the elements: 25
Enter the elements: 15
Enter the elements: 2
[0, 2, 4, 5, 7, 9, 10, 15, 25]

In [5]:
# 4 Write a python program to convert the list of string to list of list.

def convert(str):
  result = map(list,str)
  return list(result)

l_str = ["Red", "Green", "Yellow", "Blue"] 
print(convert(l_str))

[['R', 'e', 'd'], ['G', 'r', 'e', 'e', 'n'], ['Y', 'e', 'l', 'l', 'o', 'w'], ['B', 'l', 'u', 'e']]

In [6]:
# 5 Write a Python program to generate and print a list of first and last 5 elements where
# the values are square of numbers between 1 and 30 (both included).

list1 = []
for i in range(1,6):
  list1 += [i**2]
for i in range(6,26):
  list1 += [i]
for i in range (26,31):
  list1 +=  [i**2]

print(list1)

[1, 4, 9, 16, 25, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 676, 729, 784, 841, 900]